@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
.contact {
  background-color: black;

  background-image: 
    radial-gradient(circle at 50% 1%, rgba(0, 0, 0, 0) 1%, black 100%), /* Vignette effect */
    url("../public/grids.svg"); /* Your grid image */
  
  /* background-repeat: no-repeat; */
  
}
.about {
  background-color: black;

  background-image: 
    
    url("../public/about.svg");
}


/* .hero-bg {
  background-image: url("../public/bg-10.svg");
  
  background-size: contain;
  background-repeat: none;
} */
body {
  background-color: black;
  color: white;
}
.background-gradient {
  background: radial-gradient(
    ellipse at center 60%, /* Center position of the gradient, horizontal and lower */
    rgba(19, 171, 191, 1) 0%,   /* Blue color at the center */
    #463380 10%,     /* Darker blue at 30% */
    rgba(0, 0, 0, 1) 30%         /* Black at the edges */
  );
  background-size: 200% 100%;
  background-position: 50% 50%;
}


.mask-gradient {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

.fade-to-black {
  position: relative; /* Ensure the div is positioned correctly for absolute elements */
}

.fade-to-black::after {
  content: '';
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 70%); /* Fades to black */
  pointer-events: none; /* Allows clicks to pass through */
}


@media (max-width: 768px) { /* Tailwind's sm breakpoint */
  /* .background-gradient {
    background: radial-gradient(
      ellipse at center 82%, 
      rgba(19, 171, 191, 1) 0%,   
      rgba(9, 60, 66, 1) 10%,     
      rgba(0, 0, 0, 1) 40%          
    );

    background-size: 400% 100%;
    background-position: 50% 50%;
  } */

  .background-gradient {
    background: transparent;
    background-size: 400% 100%;
    background-position: 50% 50%;
    
  }

  .fade-to-black::after {
    content: '';
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent; /* Fades to black */
    pointer-events: none; /* Allows clicks to pass through */
  }

  
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Thin scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust width */
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(96, 96, 96); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  ::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

