@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  /* cursor: none; */
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 8px; /* size */
    height: 8px; /* size */
    background-color: #463380; /* Replace with your primary color */
}

.cursor-dot-outline {
    width: 40px; /* size */
    height: 40px; /* size */
    background-color: rgba(255, 255, 255, 0.5); /* Replace with your primary light color */
}
.contact {
  background-color: rgb(0, 0, 0);

  background-image: 
    radial-gradient(circle at 50% 1%, rgba(0, 0, 0, 0) 1%, black 100%), /* Vignette effect */
    url("../public/grids.svg"); /* Your grid image */
  
  /* background-repeat: no-repeat; */
  

}
.gradient-quadrant {
  background: radial-gradient(circle at top right
  , #96deff 0%,
   black 70%
   );
}
.about {
  background-color: black;

  background-image: 
    
    url("../public/about.svg");
}

.services {
  background-image: url("https://images.unsplash.com/photo-1519326931307-6003daea39f0?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* .ends {
  min-height: 50vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
}

.slides {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 1;
}
.slides .list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.slides .slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide .background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  background-position: center;

  will-change: transform;
  
  
  background-size: cover;
}

.slide .content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  text-align: center;
  width: 95%;
  padding: 3rem;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 40rem;
  position: relative;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 4.6rem;
  line-height: 1.25em;
  font-weight: 500;
} */

/* .hero-bg {
  background-image: url("../public/bg-10.svg");
  
  background-size: contain;
  background-repeat: none;
} */
body {
  background-color: black;
  color: white;
}
.background-gradient {
  background: radial-gradient(
    ellipse at center 60%, /* Center position of the gradient, horizontal and lower */
    rgba(19, 171, 191, 1) 0%,   /* Blue color at the center */
    #463380 10%,     /* Darker blue at 30% */
    rgba(0, 0, 0, 1) 30%         /* Black at the edges */
  );
  background-size: 200% 100%;
  background-position: 50% 50%;
}

.background-gradient-1 {
  background: radial-gradient(
    ellipse at center 60%, /* Center position of the gradient, horizontal and lower */
    rgba(19, 171, 191, 1) 0%,   /* Blue color at the center */
    #463380 10%,     /* Darker blue at 30% */
    rgba(0, 0, 0, 1) 30%         /* Black at the edges */
  );
  background-size: 100% 100%;
  
  /* background-position: 50% 0%; */
}


.mask-gradient {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

.fade-to-black {
  position: relative; /* Ensure the div is positioned correctly for absolute elements */
}

.fade-to-black::after {
  content: '';
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%); /* Fades to black */
  pointer-events: none; /* Allows clicks to pass through */
}


@media (max-width: 768px) { /* Tailwind's sm breakpoint */
  /* .background-gradient {
    background: radial-gradient(
      ellipse at center 82%, 
      rgba(19, 171, 191, 1) 0%,   
      rgba(9, 60, 66, 1) 10%,     
      rgba(0, 0, 0, 1) 40%          
    );

    background-size: 400% 100%;
    background-position: 50% 50%;
  } */

  .background-gradient {
    background: transparent;
    background-size: 400% 100%;
    background-position: 50% 50%;
    
  }

  .background-gradient-1 {
    background: transparent;
    
    
  }


  .fade-to-black::after {
    content: '';
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent; /* Fades to black */
    pointer-events: none; /* Allows clicks to pass through */
  }

  
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Thin scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust width */
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(96, 96, 96); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  ::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

