@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1000px; /* Adjust to control depth */
  overflow: hidden;
  background: #0b1315; /* Dark background for contrast */
}

:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
* {
  scroll-behavior: smooth;
  cursor: default;
  
}


.gradient-quadrant {
  background: radial-gradient(circle at top right
  , #96deff 0%,
   black 70%
   );
}

/* .hero-gradient {
  background: radial-gradient(circle at 100% 0%
  , #96deff 0%,
   black 50%,
   transparent 55%
   );
   
} */

.hero-gradient {
  background: radial-gradient(
    circle  at 50% 200%, /* Horizontal glow towards the bottom */
    #96deff 20%,         /* Blue gradient starting */
    transparent 70%      /* Fade out */
  ),

  transparent; /* Solid black base for the arc */

  mask-image: radial-gradient(
    ellipse 150% 80% at 50% 120%, /* Horizontal ellipse */
    transparent 45%,             /* Transparent center */
    black 50%                    /* Black arc */
  );
  -webkit-mask-image: radial-gradient(
    ellipse 150% 80% at 50% 120%, /* Horizontal ellipse for WebKit */
    transparent 45%,             /* Transparent center */
    black 50%                    /* Black arc */
  );

  /* height: 100vh;  */
  width: 100%;   /* Full width */
  /* background-size: 150% 100%; */
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/* .continer {
  position: relative;
  display: flex;
  flex-direction: column;
  
  gap: 24px;
  width: 100%;
  height: 100%;
  align-items: center;
} */
@keyframes scrollVertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.scroller {
  --animation-duration: 100s; /* Default animation duration */
  --animation-direction: normal; /* Default direction */
}

.animate-scroll-vertical {
  animation: scrollVertical var(--animation-duration) linear infinite var(--animation-direction);
}
.card {
  position: relative;
  min-height: 550px;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #000000, #020809, #080509);
  background-clip: padding-box;
  border-radius: 25px;
  /* padding: 40px; */

}
.card::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
  border-radius: 25px;
}


/* .card1 {
  position: relative;
  
  min-height: 400px;
  z-index: 40; /* Set a higher z-index than ::after 
  border: 2px solid transparent;
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
  background-clip: border-box; 
  border-radius: 0px;
} */

/* .card1::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: 40; 

  background: linear-gradient(71deg, #000000, #020809, #080509);
  border-radius: 35px;
  margin: 3px;
} */



.hero-gradient1 {
  background: radial-gradient(circle at 100% 150%
  , #96deff 0%,
   black 50%,
   transparent 55%
   );
}

body {
  background-color: black;
  color: white;
}
.background-gradient {
  background: radial-gradient(
    ellipse at center 60%, /* Center position of the gradient, horizontal and lower */
    rgba(19, 171, 191, 1) 0%,   /* Blue color at the center */
    #463380 10%,     /* Darker blue at 30% */
    rgba(0, 0, 0, 1) 30%         /* Black at the edges */
  );
  background-size: 200% 100%;
  background-position: 50% 50%;
}

.background-gradient-1 {
  background: radial-gradient(
    ellipse at center 60%, /* Center position of the gradient, horizontal and lower */
    rgba(19, 171, 191, 1) 0%,   /* Blue color at the center */
    #463380 10%,     /* Darker blue at 30% */
    rgba(0, 0, 0, 1) 30%         /* Black at the edges */
  );
  background-size: 100% 100%;
  
  /* background-position: 50% 0%; */
}


.mask-gradient {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

.fade-to-black {
  position: relative; /* Ensure the div is positioned correctly for absolute elements */
}

.fade-to-black::after {
  content: '';
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%); /* Fades to black */
  pointer-events: none; /* Allows clicks to pass through */
}

.fade-to-black-1 {
  position: relative; /* Ensure the div is positioned correctly for absolute elements */
}

.fade-to-black-1::after {
  content: '';
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,      /* Solid black at the top */
    rgba(0, 0, 0, 0) 20%,     /* Transparent near the top */
    rgba(0, 0, 0, 0) 80%,     /* Transparent near the bottom */
    rgba(0, 0, 0, 1) 100%     /* Solid black at the bottom */
  );
  pointer-events: none; /* Allows clicks to pass through */
}



@media (max-width: 768px) { /* Tailwind's sm breakpoint */
  /* .background-gradient {
    background: radial-gradient(
      ellipse at center 82%, 
      rgba(19, 171, 191, 1) 0%,   
      rgba(9, 60, 66, 1) 10%,     
      rgba(0, 0, 0, 1) 40%          
    );

    background-size: 400% 100%;
    background-position: 50% 50%;
  } */


  .hero-gradient {
    background: radial-gradient(
      circle  at 50% 200%, /* Horizontal glow towards the bottom */
      #96deff 20%,         /* Blue gradient starting */
      transparent 70%      /* Fade out */
    ),
    transparent; /* Solid black base for the arc */
  
    mask-image: radial-gradient(
      ellipse 250% 80% at 50% 120%, /* Horizontal ellipse */
      transparent 45%,             /* Transparent center */
      black 50%                    /* Black arc */
    );
    -webkit-mask-image: radial-gradient(
      ellipse 250% 80% at 50% 120%, /* Horizontal ellipse for WebKit */
      transparent 45%,             /* Transparent center */
      black 50%                    /* Black arc */
    );
  
    /* height: 75vh;  */
    width: 100%;   /* Full width */
  }
  
  .hero-gradient1 {
    background: radial-gradient(circle at 100% 150%
    , #96deff 0%,
     black 50%,
     transparent 55%
     );
  }
  .background-gradient {
    background: transparent;
    background-size: 400% 100%;
    background-position: 50% 50%;
    
  }

  .background-gradient-1 {
    background: transparent;
    
    
  }


  /* .fade-to-black::after {
    content: '';
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%); 
    pointer-events: none; 
  } */
  
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Thin scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust width */
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(96, 96, 96); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  ::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

